@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::after,
*::before {
  @apply m-0 p-0
}

.header {
  @apply flex flex-row rounded-md min-h-fit p-2 w-full justify-center
}

.body {
  font-family: "Nunito Sans", sans-serif;
  @apply md:flex md:flex-col md:items-center bg-gradient-to-b from-pea-50 to-pea-300 p-8
}


.main {
  @apply flex flex-col md:pt-10
}

.popup {
  box-shadow: 2px 8px 20px #00000039, 2px 4px 16px #00000039;
}

.card {
  box-shadow: 2px 8px 20px #00000039, 2px 4px 16px #00000039;
  @apply flex flex-col col-span-1 row-span-1 rounded-xl relative h-64 w-48 text-white
}

.hollow-card {
  @apply flex flex-col rounded-xl relative h-64 w-48 text-white font-bold text-sm text-center justify-center cursor-pointer shadow-inner shadow-black/50
}

.form {
    box-shadow: 1px 2px 10px #00000029, 1px 2px 8px #00000029;
}

svg:hover {
  transform: scale(125%);
  transition: all ease-in-out 350ms;
  @apply cursor-pointer
}

button {
  font-family: "Nunito Sans", sans-serif;
}